---
import MainLayout from "../layouts/MainLayout.astro";
import ProblemSolution from "../components/home/ProblemSolution.astro";
import About from "../components/home/About.astro";
import Services from "../components/home/Services.astro";
import PourquoiMoi from "../components/home/WhyMe.astro";
import Hero from "../components/home/Hero.astro";
import Testimonials from "../components/home/Testimonials.astro";
import { hero } from "../data/home";
import CTA from "../components/ui/CTA.astro";
import { cta } from "../data/cta";
---

<MainLayout title="Agence web" description="Sites web modernes et SEO">

  <Hero {...hero} />

  <ProblemSolution />
  <Services/>
  <About/>
  <PourquoiMoi />
  <Testimonials />
  


 <!-- CTA -->
  <section class="max-w-6xl mx-auto px-6 pb-20">

    <CTA
      title={cta.title}
      description={cta.description}
      buttonText={cta.buttonText}
      buttonLink={cta.buttonLink}
    />

  </section>

</MainLayout>